.plans {
    margin: 60px 0 0 0;
}

.wrapper {
  overflow-x: hidden;
  width: 100%;
  margin: 60px 0 0 0;
}

.planBoxContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.planBoxContainer .planX:nth-child(odd) {
    margin-top: 30px;
}